@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1587278484908'); /* IE9 */
  src: url('iconfont.ttf?t=1587278484908') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e68a";
}

.icon-icon-test:before {
  content: "\e61e";
}

.icon-shanchu1:before {
  content: "\e614";
}

